interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/puzzle/random
  response:
    body:
      string: '{"title":"Battering Ram","url":"https://www.chess.com/daily-chess-puzzle/2022-03-10","publish_time":1646899200,"fen":"6rk/2R2Qp1/4pP1p/6r1/6P1/P7/1q5P/3R3K
        w - - 0 1","pgn":"[Result \"*\"]\r\n[FEN \"6rk/2R2Qp1/4pP1p/6r1/6P1/P7/1q5P/3R3K
        w - - 0 1\"]\r\n\r\n1.Qxg8+ Kxg8 2.f7+ Kh7 3.f8=Q *","image":"https://www.chess.com/dynboard?fen=6rk/2R2Qp1/4pP1p/6r1/6P1/P7/1q5P/3R3K%20w%20-%20-%200%201&size=2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"41e61c5da07139415ecec6f8fd58cbe2"
      last-modified:
      - Friday, 18-Oct-2024 01:24:15 GMT+0000
      link:
      - <https://api.chess.com/context/DailyPuzzleRandom.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      x-chesscom-matched:
      - pubapi_daily_puzzle_random
      x-chesscom-meta:
      - lean=published
      x-chesscom-request-id-cdn:
      - 8d44ba4a09358f7f-IAD
      x-chesscom-request-id-lb:
      - c265f29a34851a04b78e659b212eb456
      x-chesscom-servedby:
      - '158'
    status:
      code: 200
      message: OK
version: 1
