interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/puzzle
  response:
    body:
      string: '{"title":"Tactical Stars Align","url":"https://www.chess.com/daily-chess-puzzle/2024-10-17","publish_time":1729148400,"fen":"r4rk1/3bpp1p/1q4pQ/ppR5/3nPN2/P2B4/5PPP/2R3K1
        w - - 0 1","pgn":"[Result \"*\"]\r\n[FEN \"r4rk1/3bpp1p/1q4pQ/ppR5/3nPN2/P2B4/5PPP/2R3K1
        w - - 0 1\"]\r\n\r\n1. Rh5 gxh5 2. Qxb6 *","image":"https://www.chess.com/dynboard?fen=r4rk1/3bpp1p/1q4pQ/ppR5/3nPN2/P2B4/5PPP/2R3K1%20w%20-%20-%200%201&size=2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"4e245de86bc04c32450e0cc81e298653"
      last-modified:
      - Thursday, 17-Oct-2024 07:54:59 GMT+0000
      link:
      - <https://api.chess.com/context/DailyPuzzle.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      x-chesscom-matched:
      - pubapi_daily_puzzle
      x-chesscom-meta:
      - lean=cached
      x-chesscom-request-id-cdn:
      - 8d3ec0c429fe22df-IAD
      x-chesscom-request-id-lb:
      - b64d1583c46796d46d5c0a5dee6bb70e
      x-chesscom-servedby:
      - '86'
    status:
      code: 200
      message: OK
version: 1
