interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/player/fabianocaruana/stats
  response:
    body:
      string: '{"chess_rapid":{"last":{"rating":2823,"date":1727799848,"rd":42},"best":{"rating":3045,"date":1567282891,"game":"https://www.chess.com/game/live/87247703041"},"record":{"win":186,"loss":74,"draw":139}},"chess_bullet":{"last":{"rating":3152,"date":1722977255,"rd":34},"best":{"rating":3152,"date":1722977255,"game":"https://www.chess.com/game/live/88461616105"},"record":{"win":954,"loss":321,"draw":100}},"chess_blitz":{"last":{"rating":3064,"date":1729031436,"rd":41},"best":{"rating":3207,"date":1716676009,"game":"https://www.chess.com/game/live/78621077395"},"record":{"win":1906,"loss":571,"draw":359}},"fide":2835,"tactics":{"highest":{"rating":3519,"date":1686676974},"lowest":{"rating":1354,"date":1363907400}},"puzzle_rush":{"best":{"total_attempts":67,"score":64}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"a1aa35b2a82c853415466029954fbd0d"
      last-modified:
      - Thursday, 17-Oct-2024 09:47:10 GMT+0000
      x-chesscom-matched:
      - pubapi_player_stats
      x-chesscom-meta:
      - lean=published
      x-chesscom-request-id-cdn:
      - 8d3f5d9f9e2503f3-IAD
      x-chesscom-request-id-lb:
      - 45bb33b43e6018bbab4719f27dca6fdc
      x-chesscom-servedby:
      - '147'
    status:
      code: 200
      message: OK
version: 1
