interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/match/12803
  response:
    body:
      string: '{"@id":"https://api.chess.com/pub/match/12803","name":"WORLD LEAGUE
        Round 5: Romania vs USA Southwest","url":"https://www.chess.com/club/matches/12803","start_time":1247533336,"end_time":1263109104,"status":"finished","boards":54,"settings":{"rules":"chess","time_class":"daily","time_control":"1/259200","min_team_players":1,"min_required_games":0,"autostart":false},"teams":{"team1":{"@id":"https://api.chess.com/pub/club/team-romania","name":"Team
        Romania","url":"https://www.chess.com/club/team-romania","score":61.5,"result":"win","players":[{"username":"aayeah-bwoy","stats":"https://api.chess.com/pub/player/aayeah-bwoy/stats","status":"basic","played_as_black":"checkmated","played_as_white":"resigned","board":"https://api.chess.com/pub/match/12803/45"},{"username":"apopescu","stats":"https://api.chess.com/pub/player/apopescu/stats","status":"premium","played_as_white":"win","played_as_black":"resigned","board":"https://api.chess.com/pub/match/12803/38"},{"username":"arpadkoblos","stats":"https://api.chess.com/pub/player/arpadkoblos/stats","status":"closed","played_as_white":"win","played_as_black":"win","board":"https://api.chess.com/pub/match/12803/7"},{"username":"arsenedu","stats":"https://api.che[...]
