interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/player/fabianocaruana
  response:
    body:
      string: '{"avatar":"https://images.chesscomfiles.com/uploads/v1/user/11177810.9dfc8d31.200x200o.9a9eccebc07c.png","player_id":11177810,"@id":"https://api.chess.com/pub/player/fabianocaruana","url":"https://www.chess.com/member/FabianoCaruana","name":"Fabiano
        Caruana","username":"fabianocaruana","title":"GM","followers":19189,"country":"https://api.chess.com/pub/country/US","last_online":1729210949,"joined":1363533272,"status":"premium","is_streamer":false,"verified":false,"league":"Champion","streaming_platforms":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"45e8916cbd40991ebe5d32d06b3322f1"
      last-modified:
      - Friday, 18-Oct-2024 00:35:07 GMT+0000
      link:
      - <https://api.chess.com/context/Player.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      x-chesscom-matched:
      - None
      x-chesscom-meta:
      - lean=cached
      x-chesscom-request-id-cdn:
      - 8d4475c239523ae0-IAD
      x-chesscom-request-id-lb:
      - fca21776c37c1f366c22e9e110f540fb
      x-chesscom-servedby:
      - '156'
    status:
      code: 200
      message: OK
version: 1
