interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/player/akshayraj_kore/matches
  response:
    body:
      string: '{"finished":[{"name":"1 day time control vs Grandmasters only","url":"https://www.chess.com/club/matches/848676","@id":"https://api.chess.com/pub/match/848676","club":"https://api.chess.com/pub/club/grandmasters-only","results":{"played_as_white":"resigned","played_as_black":"resigned"},"board":"https://api.chess.com/pub/match/848676/1"}],"in_progress":[],"registered":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"a4ca61ea3f4c1d3679be7ff42e739528"
      last-modified:
      - Friday, 18-Oct-2024 01:24:14 GMT+0000
      x-chesscom-matched:
      - pubapi_player_matches
      x-chesscom-meta:
      - lean=published
      x-chesscom-request-id-cdn:
      - 8d44ba46fadb8fc3-IAD
      x-chesscom-request-id-lb:
      - 8e5ae52125de115eff7590ade44a960e
      x-chesscom-servedby:
      - '143'
    status:
      code: 200
      message: OK
version: 1
