interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/player/erik/stats
  response:
    body:
      string: '{"chess_daily":{"last":{"rating":1403,"date":1730047005,"rd":45},"best":{"rating":2065,"date":1256228875,"game":"https://www.chess.com/game/daily/26087202"},"record":{"win":2978,"loss":1915,"draw":354,"time_per_move":13036,"timeout_percent":0},"tournament":{"points":33,"withdraw":1,"count":1,"highest_finish":1}},"chess960_daily":{"last":{"rating":1339,"date":1728409412,"rd":90},"best":{"rating":1779,"date":1466772304,"game":"https://www.chess.com/game/daily/155362414"},"record":{"win":315,"loss":194,"draw":26,"time_per_move":13036,"timeout_percent":0},"tournament":{"points":33,"withdraw":1,"count":1,"highest_finish":1}},"chess_rapid":{"last":{"rating":1904,"date":1678009742,"rd":80},"best":{"rating":1904,"date":1647475349,"game":"https://www.chess.com/game/live/41213397731"},"record":{"win":27,"loss":11,"draw":1}},"chess_bullet":{"last":{"rating":1592,"date":1729977498,"rd":46},"best":{"rating":2071,"date":1298134178,"game":"https://www.chess.com/game/live/85305696"},"record":{"win":3990,"loss":3540,"draw":206}},"chess_blitz":{"last":{"rating":1853,"date":1715431205,"rd":119},"best":{"rating":1917,"date":1685654255,"game":"https://www.chess.com/game/live/36029338373"},"record":{"win":439,"loss":339,"draw":33}},"fide":1707,"tactics":{"highest":{"rating":2883,"date":1685980712},"lowest":{"rating":1073,"date":1201209658}},"puzzle_rush":{"best":{"total_attempts":43,"score":40}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"5142d60100dc504f821eebfe1924a0ba"
      last-modified:
      - Sunday, 27-Oct-2024 17:13:35 GMT+0000
      x-chesscom-matched:
      - pubapi_player_stats
      x-chesscom-meta:
      - lean=cached
      x-chesscom-request-id-cdn:
      - 8d945eafdb404cff-IAD
      x-chesscom-request-id-lb:
      - 186a3adc2dfb16b11d263762f76f86dc
      x-chesscom-servedby:
      - '86'
    status:
      code: 200
      message: OK
version: 1
