interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/match/live/5833
  response:
    body:
      string: '{"@id":"https://api.chess.com/pub/match/live/5833","name":"Friendly
        5+2","url":"https://www.chess.com/club/matches/live/5833","start_time":1579471260,"end_time":1579472487,"status":"finished","boards":6,"settings":{"rules":"chess","time_class":"blitz","time_control":300,"time_increment":2,"min_team_players":2,"min_required_games":0,"autostart":false},"teams":{"team1":{"@id":"https://api.chess.com/pub/club/the-leopards","name":"The
        Leopards","url":"https://www.chess.com/club/the-leopards","score":7,"result":"win","players":[{"username":"fabian_leo","stats":"https://api.chess.com/pub/player/fabian_leo/stats","status":"basic","played_as_white":"win","played_as_black":"win","board":"https://api.chess.com/pub/match/live/5833/2"},{"username":"guilhermekk","stats":"https://api.chess.com/pub/player/guilhermekk/stats","status":"premium","played_as_white":"win","played_as_black":"resigned","board":"https://api.chess.com/pub/match/live/5833/4"},{"username":"insan3_7","stats":"https://api.chess.com/pub/player/insan3_7/stats","status":"basic","played_as_black":"checkmated","played_as_white":"win","board":"https://api.chess.com/pub/match/live/5833/1"},{"username":"jydra21","stats":"https://api.chess.com/pub/player/jydra21/stats","status":"basic","played_as_black":"checkmated","played_as_white":"insufficient","board":"https://api.chess.com/pub/match/live/5833/5"},{"username":"my_chemica1_cha0s","stats":"https://api.chess.com/pub/player/my_chemica1_cha0s/stats","status":"basic","played_as_white":"win","played_as_black":"win","board":"https://api.chess.com/pub/match/live/5833/6"},{"username":"rahara1988","stats":"https://api.chess.com/pub/player/rahara1988/stats","status":"basic","played_as_black":"checkmated","played_as_white":"agreed","board":"https://api.chess.com/pub/match/live/5833/3"}],"fair_play_removals":[]},"team2":{"@id":"https://api.chess.com/pub/club/not-so-pro-chess-league","name":"Not-So
        PRO Chess League","url":"https://www.chess.com/club/not-so-pro-chess-league","score":5,"result":"lose","players":[{"username":"25elevin","stats":"https://api.chess.com/pub/player/25elevin/stats","status":"premium","played_as_black":"timeout","played_as_white":"timeout","board":"https://api.chess.com/pub/match/live/5833/2"},{"username":"alexkotow","stats":"https://api.chess.com/pub/player/alexkotow/stats","stat[...]
