interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/leaderboards
  response:
    body:
      string: '{"daily":[{"player_id":32506052,"@id":"https://api.chess.com/pub/player/jolintsai","url":"https://www.chess.com/member/JolinTsai","username":"JolinTsai","score":2562,"rank":1,"country":"https://api.chess.com/pub/country/TW","title":"GM","name":"\u8521\u4f9d\u6797","status":"premium","avatar":"https://images.chesscomfiles.com/uploads/v1/user/32506052.bf2575ea.200x200o.b78a496bbc70.jpeg","trend_score":{"direction":0,"delta":0},"trend_rank":{"direction":0,"delta":0},"flair_code":"diamond_pink","win_count":449,"loss_count":9,"draw_count":52},{"player_id":2305524,"@id":"https://api.chess.com/pub/player/zgorl","url":"https://www.chess.com/member/Zgorl","username":"Zgorl","score":2550,"rank":2,"country":"https://api.chess.com/pub/country/NL","title":"FM","name":"Rob
        Schoorl","status":"premium","avatar":"https://images.chesscomfiles.com/uploads/v1/user/2305524.5341b605.200x200o.67a89f6c51b4.jpeg","trend_score":{"direction":0,"delta":0},"trend_rank":{"direction":0,"delta":0},"flair_code":"white_bishop","win_count":548,"loss_c[...]
