interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/tournament/-33rd-chesscom-quick-knockouts-1401-1600/1/1
  response:
    body:
      string: '{"fair_play_removals":[],"games":[{"url":"https://www.chess.com/game/daily/138891582","pgn":"[Event
        \"33rd Chess.com Quick Knockouts (1401-1600) - Round 1\"]\n[Site \"Chess.com\"]\n[Date
        \"2016.07.02\"]\n[Round \"-\"]\n[White \"Rockaround\"]\n[Black \"mrtn\"]\n[Result
        \"1/2-1/2\"]\n[Tournament \"https://www.chess.com/tournament/-33rd-chesscom-quick-knockouts-1401-1600\"]\n[CurrentPosition
        \"8/8/8/8/8/2B5/3k4/1K6 b - - 0 69\"]\n[Timezone \"UTC\"]\n[ECO \"C47\"]\n[ECOUrl
        \"https://www.chess.com/openings/Four-Knights-Game-Italian-Variation\"]\n[UTCD[...]
