interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/match/live/5833/1
  response:
    body:
      string: '{"board_scores":{"edr0nt":1,"insan3_7":1},"games":[{"url":"https://www.chess.com/game/live/4415534338","pgn":"[Event
        \"Live Chess\"]\n[Site \"Chess.com\"]\n[Date \"2020.01.19\"]\n[Round \"-\"]\n[White
        \"edr0nt\"]\n[Black \"InSaN3_7\"]\n[Result \"1-0\"]\n[Match \"https://www.chess.com/club/matches/live/5833\"]\n[CurrentPosition
        \"4Rk2/3Q4/2p2qp1/1r1p4/8/1P4p1/2P2PP1/6K1 b - -\"]\n[Timezone \"UTC\"]\n[ECO
        \"C22\"]\n[ECOUrl \"https://www.chess.com/openings/Center-Game-Accepted-Normal-Variation\"]\n[UTCDate
        \"2020.01.19\"]\n[UTCTime \"22:01:04\"]\n[WhiteElo \"1851\"][...]
