interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/tournament/-33rd-chesscom-quick-knockouts-1401-1600
  response:
    body:
      string: '{"name":"33rd Chess.com Quick Knockouts (1401-1600)","url":"https://www.chess.com/tournament/-33rd-chesscom-quick-knockouts-1401-1600","description":"<p><span
        style=\"color: #222222; font-family: ''trebuchet ms'', arial, sans-serif;
        font-size: 14px; line-height: 14.9333px;\">This is the 33rd RAPID Chess.com
        Tournament! Only players who play their games QUICKLY (who have a low Avg.
        Time per Move) and who have completed 5 games already can register. Games
        have a 1 day time control and the games in the round start immediately! (That
        is 10 games starting right away and going fast!!)</span></p>","creator":"Patzer24","status":"finished","finish_time":1483511043,"settings":{"type":"round_robin","rules":"chess","is_rated":true,"is_official":true,"is_invite_only":false,"min_rating":1401,"max_rating":1600,"initial_group_size":6,"user_advance_count":1,"use_tiebreak":true,"allow_vacation":true,"winner_places":3,"registered_user_count":399,"games_per_opponent":2,"total_rounds":4,"concurrent_games_per_opponent":2,"time_class":"daily","time_control":"1/86400"},"players":[{"username":"egoigwe","status":"removed"},{"username":"spice","status":"eliminated"},{"username":"kilgore","status":"eliminated"},{"username":"terry-holliday","status":"eliminated"},{"username":"akhlakur","status":"eliminated"},{"username":"jdunphy","status":"eliminated"},{"username":"mancroft","status":"eliminated"},{"username":"pblack","status":"eliminated"},{"username":"bullrot-be","status":"eliminated"},{"username":"wolfshien","status":"eliminated"},{"username":"sheldon_collier","status":"eliminated"},{[...]
