interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/player/fabianocaruana/clubs
  response:
    body:
      string: '{"clubs":[{"@id":"https://www.chess.com/club/chess-comtv","name":"Chess.comTV","last_activity":1533261072,"icon":"https://images.chesscomfiles.com/uploads/v1/group/10182.ce48ce37.50x50o.643fa8f292b8.png","url":"https://www.chess.com/club/chess-comtv","joined":1533261072},{"@id":"https://www.chess.com/club/club-admins","name":"Club
        Admins","last_activity":1724357345,"icon":"https://images.chesscomfiles.com/uploads/v1/group/77144.b37f1a94.50x50o.916fe9df6e33.png","url":"https://www.chess.com/club/club-admins","joined":1724357345},{"@id":"https://www.chess.com/club/saint-louis-archbishops","name":"Saint
        Louis Archbishops","last_activity":1679669153,"icon":"https://images.chesscomfiles.com/uploads/v1/group/307407.e15639e7.50x50o.e53186f27[...]
