interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/club/chess-com-developer-community/matches
  response:
    body:
      string: '{"finished":[{"name":"1000-1500","@id":"https://api.chess.com/pub/match/1524143","opponent":"https://api.chess.com/pub/club/chess-com-beta","start_time":1692624006,"time_class":"daily","result":"lose"}],"in_progress":[],"registered":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"a7a40f89bb9ce16ee919f6370e7ea856"
      last-modified:
      - Thursday, 17-Oct-2024 22:35:00 GMT+0000
      link:
      - <https://api.chess.com/context/ClubMatches.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      x-chesscom-matched:
      - pubapi_club_matches
      x-chesscom-meta:
      - lean=published
      x-chesscom-request-id-cdn:
      - 8d43c25eec18c988-IAD
      x-chesscom-request-id-lb:
      - a5ce82ff7aa7836e6340a2bde3a01c30
      x-chesscom-servedby:
      - '160'
    status:
      code: 200
      message: OK
version: 1
