interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/streamers
  response:
    body:
      string: '{"streamers":[{"username":"GMCanty","avatar":"https://images.chesscomfiles.com/uploads/v1/user/17123334.6c6fa923.50x50o.bf98fd5d0da1.jpeg","twitch_url":"https://twitch.tv/gmcanty","url":"https://www.chess.com/member/GMCanty","is_live":true,"is_community_streamer":false,"platforms":[{"type":"twitch","stream_url":"https://twitch.tv/gmcanty","channel_url":"https://twitch.tv/gmcanty","is_live":true,"is_main_live_platform":true}]},{"username":"TheMagician","avatar":"https://images.chesscomfiles.com/uploads/v1/user/1762234.e9232887.50x50o.bd8ae2ae8eb1.jpeg","twitch_url":"https://twitch.tv/fmjohncurtischess","url":"https://www.chess.com/member/TheMagician","is_live":true,"is_community_streamer":false,"platforms":[{"type":"twitch","stream_url":"https://twitch.tv/fmjohncurtischess","channel_url":"https://twitch.tv/fmjohncurtischess","is_live":true,"is_main_live_platform":true}]},{"username":"CharlotteChessCenter","ava[...]
