interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/player/fabianocaruana/tournaments
  response:
    body:
      string: '{"finished":[{"url":"https://www.chess.com/tournament/live/-scc-grand-prix-titled-tuesday-blitz-1246996","@id":"https://api.chess.com/pub/tournament/-scc-grand-prix-titled-tuesday-blitz-1246996","wins":8,"losses":2,"draws":0,"placement":22,"status":"registered","total_players":1047,"time_class":"blitz","type":"swiss"},{"url":"https://www.chess.com/tournament/live/-scc-grand-prix-titled-tuesday-blitz-1259839","@id":"https://api.chess.com/pub/tournament/-scc-grand-prix-titled-tuesday-blitz-1259839","wins":2,"losses":1,"draws":2,"placement":709,"status":"withdrew","total_players":881,"time_class":"blitz","type":"swiss"},{"url":"https://www.chess.com/tournament/live/-scc-grand-prix-titled-tuesday-blitz-1293512","@id":"https://api.chess.com/pub/tournament/-scc-grand-prix-titled-tuesday-blitz-1293512","win[...]
