interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/player/farzyplayschess
  response:
    body:
      string: '{"avatar":"https://images.chesscomfiles.com/uploads/v1/user/7523002.dd9b12b2.200x200o.2deab7dac5f5.jpg","player_id":7523002,"@id":"https://api.chess.com/pub/player/farzyplayschess","url":"https://www.chess.com/member/FarzyPlaysChess","username":"farzyplayschess","followers":546,"country":"https://api.chess.com/pub/country/CA","location":"Montreal","last_online":1729822129,"joined":1336504291,"status":"premium","is_streamer":true,"twitch_url":"https://twitch.tv/farzyplayschess","verified":false,"league":"Legend","streaming_platforms":[{"type":"twitch","channel_url":"https://twitch.tv/farzyplayschess"},{"type":"youtube","channel_url":"https://youtube.com/@farzyplayschess"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"734df608260524755b7468a46f3a109c"
      last-modified:
      - Friday, 25-Oct-2024 02:32:13 GMT+0000
      link:
      - <https://api.chess.com/context/Player.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      x-chesscom-matched:
      - pubapi_player_profile
      x-chesscom-meta:
      - lean=published
      x-chesscom-request-id-cdn:
      - 8d7ecb7d4c2f9068-IAD
      x-chesscom-request-id-lb:
      - cd6b923c70436cdb229c768839385b2d
      x-chesscom-servedby:
      - '89'
    status:
      code: 200
      message: OK
version: 1
