interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/player/erik/games/live/180/2
  response:
    body:
      string: '{"games":[{"url":"https://www.chess.com/game/live/1234567890","pgn":"[Event
        \"Live Chess\"]\n[Site \"Chess.com\"]\n[Date \"2020.05.05\"]\n[Round \"-\"]\n[White
        \"erik\"]\n[Black \"testuser\"]\n[Result \"1-0\"]\n[CurrentPosition
        \"rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq -\"]\n[Timezone \"UTC\"]\n[ECO \"B00\"]\n[ECOUrl
        \"https://www.chess.com/openings/Kings-Pawn-Opening\"]\n[UTCDate
        \"2020.05.05\"]\n[UTCTime \"13:07:02\"]\n[WhiteElo \"1200\"]\n[BlackElo \"1150\"]\n[TimeControl
        \"180+2\"]\n[Termination \"erik won by checkmate\"]\n[StartTime
        \"13:07:02\"]\n[EndDate \"2020.05.05\"]\n[EndTime \"13:15:30\"]\n[Link \"https://www.chess.com/game/live/1234567890\"]\n\n1.
        e4 {[%clk 0:03:00]} 1... e5 {[%clk 0:03:00]} 2. Nf3 {[%clk 0:02:58]} 2...
        Nc6 {[%clk 0:02:58]} 3. Bb5 {[%clk 0:02:56]} 3... a6 {[%clk 0:02:56]}
        4. Ba4 {[%clk 0:02:54]} 4... Nf6 {[%clk 0:02:54]} 5. O-O {[%clk 0:02:52]}
        5... Be7 {[%clk 0:02:52]} 6. Re1 {[%clk 0:02:50]} 6... b5 {[%clk 0:02:50]}
        7. Bb3 {[%clk 0:02:48]} 7... d6 {[%clk 0:02:48]} 8. c3 {[%clk 0:02:46]}
        8... O-O {[%clk 0:02:46]} 9. h3 {[%clk 0:02:44]} 9... Nb8 {[%clk 0:02:44]}
        10. d4 {[%clk 0:02:42]} 10... Nbd7 {[%clk 0:02:42]} 1-0","time_control":"180+2","end_time":1588684530,"rated":true,"accuracies":{"white":95.2,"black":87.3},"fen":"rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR
        b KQkq d3 0 1","time_class":"blitz","rules":"chess","white":{"rating":1200,"result":"win","@id":"https://api.chess.com/pub/player/erik","username":"erik","uuid":"a1b2c3d4-e5f6-11e7-8030-000000000000"},"black":{"rating":1150,"result":"checkmated","@id":"https://api.chess.com/pub/player/testuser","username":"testuser","uuid":"f6e5d4c3-b2a1-11e7-8030-000000000000"},"eco":"https://www.chess.com/openings/Kings-Pawn-Opening"},{"url":"https://www.chess.com/game/live/1234567891","pgn":"[Event
        \"Live Chess\"]\n[Site \"Chess.com\"]\n[Date \"2020.05.05\"]\n[Round \"-\"]\n[White
        \"testuser2\"]\n[Black \"erik\"]\n[Result \"0-1\"]\n[CurrentPosition
        \"rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq -\"]\n[Timezone \"UTC\"]\n[ECO \"C20\"]\n[ECOUrl
        \"https://www.chess.com/openings/Kings-Pawn-Game\"]\n[UTCDate
        \"2020.05.05\"]\n[U[...]
