interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.chess.com/pub/player/plutopete/games/to-move
  response:
    body:
      string: '{"games":[{"url":"https://www.chess.com/game/daily/751207461","move_by":1737314974,"last_activity":1737055774}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"7a683e2c5244a2a1a0b23392ba1d10b7"
      last-modified:
      - Saturday, 18-Jan-2025 15:17:42 GMT+0000
      link:
      - <https://api.chess.com/context/Games.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      x-chesscom-matched:
      - pubapi_player_games_to_move
      x-chesscom-meta:
      - lean=cached
      x-chesscom-request-id-cdn:
      - 903f918b99ae43c3-IAD
      x-chesscom-request-id-lb:
      - f851df696c4a36c3e0418740881ed465
      x-chesscom-servedby:
      - '155'
    status:
      code: 200
      message: OK
version: 1
