name: 'Build and Publush'

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  test:
    name: 'Test suite'
    uses: ./.github/workflows/test.yml
  build:
    name: 'Build and Publish'
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.11
      - name: Install publishing dependencies
        run: |
          python3 -m pip install --upgrade build
          python3 -m pip install --upgrade twine
      - name: Build and Upload to PyPi
        run: |
          python3 -m build
          python3 -m twine upload dist/*
        env:
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}